*.backup1
*.backup2
*.backup3
*.bak
*.dbs
*.php
*.pk3
*.psd
*.tmp
*.zip
*.7z
/tcotd2/.vscode/tasks.json
/tcotd2/tcotd2.bat
/therefinery/maps/*.dbs
/stronghold/maps/*.dbs
/tcotd2_test.bat
/tcotd2/TODO
temp
/tcotd2_test_coop.bat.lnk
